/*
Syntax error: File to import not found or unreadable: compass.
              Load paths:
                /Users/yasuhito/play/skratch/sass
                /Users/yasuhito/play/skratch/sass
        on line 1 of /Users/yasuhito/play/skratch/sass/screen.scss

1: @import "compass";
2: 
3: @import "custom/color";
4: @import "custom/rve";
5: 
6: @import "base";

Backtrace:
/Users/yasuhito/play/skratch/sass/screen.scss:1
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/import_node.rb:45:in `import'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/exec.rb:432:in `watch_or_update'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `load'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/bin/sass:23:in `<main>'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `eval'
/Users/yasuhito/.rvm/gems/ruby-2.0.0-p247/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load paths:\A                 /Users/yasuhito/play/skratch/sass\A                 /Users/yasuhito/play/skratch/sass\A         on line 1 of /Users/yasuhito/play/skratch/sass/screen.scss\A \A 1: @import \"compass\";\A 2: \A 3: @import \"custom/color\";\A 4: @import \"custom/rve\";\A 5: \A 6: @import \"base\";"; }
